extends ./_shared/layout
block title
	title= worker.name

block content
	h1= worker.name
	
	div $#{worker.total}.00
	
	div= worker.count
	
	ul
		each workItem in worker.workList
			li= workItem.name 
				span $#{ workItem.value }.00