extends ./_shared/layout
block title
	title= worker.name

block content
	h1= worker.name
	
	if worker.total > 0 
		div $#{worker.total}.00 Earned
	else
		div No earnings
	
	if worker.count > 0
		if worker.count > 1 
			div #{ worker.count } Items Completed
		else
			div #{ worker.count } Item Completed
			
	else
		div No work Completed
	
	h3 Work Items Completed
	each workItem in worker.workList
		div.work-item 
			div= workItem.name 
			if workItem.value > 0 
				div  $#{workItem.value}.00
			else
				div FREE