extends ./_shared/layout
block title
	title Work to be done.

block content
	h1 Add Work Item
	
	form.wi
		input(type="text", name="workItem", placeholder="Enter a work item...", required)
		input(type="number", name="workItemValue", placeholder="How much is it worth?", required)
		
		button(type="submit") Add Work Item
		
	h1 Work Items

	each workItem in work
		div(id= workItem.work_id).work-item
			div= workItem.work_description
				- var worker = workers.filter(worker => worker.worker_id == workItem.worker_id)[0]
				if typeof worker != "undefined"
					span &nbsp;-&nbsp;#{worker.worker_name}
			if workItem.work_value > 0 
				div  $#{workItem.work_value}.00
			else
				div FREE
			div
				span.openClaim.fa.fa-handshake-o
				span.done.fa.fa-check
				span.remove.fa.fa-times
	div.modal
		h2 Who is working on this work?
		br
		br
		a(data-id="0" href="").claimLink Unassigned
		each worker in workers
			a(data-id="#{worker.worker_id}" href="").claimLink= worker.worker_name

	div#workers
		h3 Workers				
		each worker in workers
			a(href="./workers/#{ worker.worker_id }")= worker.worker_name
						